.section-image {
    background-image:url('images/children2.jpg') ;
    color:white;

   
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height:600px;
    
}
.section-text{
    text-align:center;
    font-size: 30px;
    font-weight:bold; 
}
.section-about-title {
    padding:70px;
    text-align: center;
    color:white;
    font-size:20px; 
    background-color:#5e0f68 ;
}
.section-service-children {
    display:flex;
    margin-top: 40px;

}
.section-service-message{
    margin:30px;
}
.service-provide-two {
    margin-left: 30px;
}
@media screen and (max-width:800px){
    .section-service-children {
        flex-direction:column ;
    }
.section-service-image img{
    width:100%;
}

}
