.section-image {
    background-image:url('images/men-house-dim.jpg') ;
  background-size: 100%;
  
    color:white;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height:600px;
    
}
.section-text{
    text-align:center;
    font-size: 50px;
    font-variant: small-caps;
    font-weight:bold;
    
}
.section-about{
    display: flex;
    margin-top:20px;
    margin-bottom:20px ;
}
.men-article{
    width:50%;
    padding:40px ;
    text-align: left;

}
.men-pic{
    width:50%;
}
@media screen and (max-width:800px) {
    .section-about{
        flex-direction: column;
    }
    .men-article ,.men-pic{
        width: 100%;
    }

    
}