.section-image {
    background-image:url('images/teen-dim.jpg') ;
    color:white;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height:600px;
    
}
.section-text{
    text-align:center;
    font-size: 50px;
    font-variant: small-caps;
    font-weight:bold;
    
}
.section-about {
    color:white ;
    padding: 70px;
   background-color: #5e0f68 ;
   text-align: center;


}
.section-message {
    display:flex;

}
.section-one {
padding:20px;
text-align: justify;


}

.section-message-image {
    margin: 10px;
}
@media screen and (max-width:800px) {
    .section-message{
        flex-direction:column;
    }
    .section-message-image img{
        width:100%;
    }
}