.dim-background {
    background-image:url('images/churchview-dim.jpg') ;
    color:white;

   
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height:600px;
}
.mid-text {

    text-align:center;
    font-size: 30px;
    font-weight:bold; 

}
.section-testimony{
    display:flex;
    margin-top:20px;
}
form {
    margin:auto;
    width:400px;
 
}
input[type=text],input[type=email] {
    width:400px;
    height:40px;
    margin:10px;
    display: block;

}
input[type=submit]{
    width:200px;
    height:40px;
    margin:10px;
    background-color: #fdc029;
    border:none;
}textarea{
    width: 400px;
    margin:10px;
    resize: none;
}
