*{
    margin:0;
    box-sizing: border-box;

}
.video-frame{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
  
    padding: 20px;
}
iframe {
     border: 3px solid#fdc029 ;
    border-radius: 25px; 
}