.section-image {
    background-image:url('images/blessing-2.jpg') ;
   
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height:600px;
    
}
.section-contact{
    display:flex;
    margin-top:20px;
}
.section-text{
    text-align:center;
    font-size: 30px;
    font-weight:bold; 
}
input[type=text]{
    width:300px;
    margin:10px;

}
input[type=submit]{
    width:250px;
    margin:10px;
    background-color:orange;
    padding: 10px;
    border:none;

}
textarea {
    margin:10px;
}
form {
    width:400px;
    margin:auto;
    padding:20px;
}