.dim-background {
    background-image:url('images/churchview-dim.jpg') ;
    color:white;

   
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height:600px;
}
.mid-text {

    text-align:center;
    font-size: 30px;
    font-weight:bold; 

}
.section-membership {
    display:flex;
    margin-top:20px;

}
.section-church-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#f1f1f1 ;
}


@media screen and (max-width:800px){
    .section-membership{
        flex-direction: column;
    }
    .section-church-logo img{
        width:100%;

    }
}